Pandas Advance-2 Assignment Sol.

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [23]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.
#Ans-


df.iloc[[1]]

        course_name  duration
1  Machine Learning         3

In [ ]:
#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
#Ans-

'''Both loc and iloc are pandas.DataFrame methods used to select specific rows and columns in a DataFrame, but they differ in the way they index data.

The loc method is label-based, meaning that it takes label-based indices to select data from a DataFrame. 
It works by specifying the labels of rows and columns that you want to select. 

The iloc method, on the other hand, is integer-based and works by specifying the integer positions of rows and columns you want to select. 
For example, to select the first two rows and the first three columns of a DataFrame'''

In [20]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
#Ans-


# reindex the DataFrame
reindex = [3, 0, 1, 2]
new_df = df.reindex(index=reindex)

In [21]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [22]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
'''To reindex the DataFrame, we create a list reindex with the desired order of the rows and pass it to the reindex() method of the DataFrame to create a new DataFrame new_df with the rows reordered.

We then use the loc and iloc methods to select the second row of the new DataFrame new_df. We observe that the output of new_df.loc[2] is different from that of new_df.iloc[2]. 
This is because loc method uses label-based indexing and iloc method uses integer-based indexing. 
After reindexing, the labels of the rows are different from their original integer-based indices, which is why the two methods return different rows.'''

In [25]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [ ]:
#Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#(i) mean of each and every column present in the dataframe.
#(ii) standard deviation of column, ‘column_2’

In [26]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.937022  0.826263  0.517829  0.285638  0.513655  0.452952
2  0.381216  0.458978  0.113407  0.573247  0.657525  0.588111
3  0.281632  0.756866  0.082258  0.066887  0.019135  0.291154
4  0.028203  0.145733  0.638095  0.172948  0.086067  0.906366
5  0.298605  0.482235  0.830006  0.357571  0.260708  0.340886
6  0.478263  0.062343  0.585599  0.397586  0.429219  0.525302

In [27]:
# compute the mean of each column
means = df1.mean()
print("Mean of each column:\n", means)

# compute the standard deviation of column_2
std_col2 = df1['column_2'].std()
print("Standard deviation of column_2:", std_col2)

Mean of each column:
 column_1    0.400824
column_2    0.455403
column_3    0.461199
column_4    0.308979
column_5    0.327718
column_6    0.517462
dtype: float64
Standard deviation of column_2: 0.3096905797887771

In [ ]:
#Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
#If you are getting errors in executing it then explain why.
#[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

#Ans-

import pandas as pd
import numpy as np

# define the columns and indices
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# create the DataFrame
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# replace data in second row of column_2 with a string
df1.loc[2, 'column_2'] = 'some string'

# compute the mean of column_2
# Note: since we have a string in one of the rows, the mean calculation will fail with a TypeError
mean_col2 = df1['column_2'].mean()
print("Mean of column_2:", mean_col2)


'''In this code, we use the loc[] method to select the second row of column 'column_2' and replace its data with a string. We then try to compute the mean of column 'column_2' using the mean() method, but we encounter a TypeError because we have a string in one of the rows.

To avoid this error, we need to either remove the string from the column or convert it to a numeric value before computing the mean.'''

In [ ]:
#Q6. What do you understand about the windows function in pandas and list the types of windows functions?
#Ans-
'''In Pandas, a window function, also known as a rolling or moving function, allows you to perform calculations on a rolling window of data over a specified period of time. 
The window function processes data in a sliding window of fixed size, and applies a function to the data inside the window.

The types of window functions available in Pandas include:

1. Rolling window functions: These functions compute a rolling statistic over a fixed window size, which can be either time- or count-based. 
Examples include rolling.mean(), rolling.sum(), and rolling.std().

2. Expanding window functions: These functions compute statistics for the expanding window of data from the start to the current position. 
Examples include expanding.mean(), expanding.sum(), and expanding.std().

3. Exponentially-weighted window functions: These functions compute an exponentially-weighted moving average over a specified span of time. 
Examples include ewm.mean() and ewm.std().

4. Rolling window apply functions: These functions apply a custom function to the rolling window of data. 
Examples include rolling.apply() and rolling.aggregate().

Window functions are useful for time series data analysis, where we need to compute rolling or moving statistics over a fixed period of time. 
They can be used to smooth out the data and identify trends, patterns, and anomalies.

In [31]:
#Q7. Write a code to print only the current month and year at the time of answering this question.
#[Hint: Use pandas.datetime function]
#Ans-
now = pd.datetime.now()
print("Current month and year:", now.strftime("%B %Y"))

Current month and year: April 2023

/tmp/ipykernel_145/458792703.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

In [32]:
#Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. 
#The program should prompt the user to enter the dates and display the result.

import pandas as pd

# prompt the user to enter the first date
date1_str = input("Enter the first date in YYYY-MM-DD format: ")
date1 = pd.to_datetime(date1_str)

# prompt the user to enter the second date
date2_str = input("Enter the second date in YYYY-MM-DD format: ")
date2 = pd.to_datetime(date2_str)

# calculate the time difference using Pandas timedelta
time_diff = date2 - date1

# extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours, remainder = divmod(time_diff.seconds, 3600)
minutes, seconds = divmod(remainder, 60)

# display the result
print(f"The time difference between {date1.date()} and {date2.date()} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date in YYYY-MM-DD format:  1996-06-23
Enter the second date in YYYY-MM-DD format:  2023-04-18

The time difference between 1996-06-23 and 2023-04-18 is 9795 days, 0 hours, and 0 minutes.

In [ ]:
#Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.
#Ans-

import pandas as pd

# Get file path and column name from user
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")

# Read CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Get category order from user
category_order = input("Enter the category order (comma-separated): ")
category_order = category_order.split(",")

# Convert column to categorical data type with specified order
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort DataFrame by specified column
df = df.sort_values(by=column_name)

# Display sorted data
print(df)

In [ ]:
#Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. 
#The program should prompt the user to enter the file path and display the chart.
#Ans-

import pandas as pd
import matplotlib.pyplot as plt

# Get file path from user
file_path = input("Enter the file path: ")

# Read CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Set the 'Date' column as the index and sort by index
df = df.set_index('Date').sort_index()

# Get the unique product categories
product_categories = df['Product Category'].unique()

# Create a new DataFrame with sales data grouped by product category and date
sales_data = df.groupby(['Product Category', 'Date']).sum()['Sales'].unstack()

# Create a stacked bar chart of the sales data
sales_data.plot(kind='bar', stacked=True)

# Set chart title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')

# Set legend
plt.legend(product_categories, loc='upper left')

# Show chart
plt.show()

In [ ]:
'''Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the following
 Prompt the user to enter the file path of the CSV file containing the student dataR
 Read the CSV file into a Pandas DataFrame
 Calculate the mean, median, and mode of the test scores using Pandas toolsR
 Display the mean, median, and mode in a table.
Assume the CSV file contains the following columns
Student ID: The ID of the student
Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.'''

In [ ]:
import pandas as pd

data1 = pd.DataFrame({'Student ID' : [1,2,3,4,5,6,7,8,9,10],
                             'Test Score' : [85,90,80,75,85,82,78,85,90,85]})

data1.to_csv('student_data.csv', index= False)
student_data

In [ ]:
import pandas as pd

# Prompt the user for the file path
file_path = input("Enter the file path of the CSV file containing student data: ")

# Read the CSV file into a Pandas DataFrame
data = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean = data['Test Score'].mean()
median = data['Test Score'].median()
mode = data['Test Score'].mode()

# Display the results in a table
print("+-----------+--------+")
print("| Statistic | Value  |")
print("+-----------+--------+")
print(f"| Mean      | {mean:.1f} |")
print("| Median    | {:<5}  |".format(median))
print("| Mode      | ", end="")
for i, val in enumerate(mode):
    if i == len(mode)-1:
        print(val, end="")
    else:
        print(f"{val}, ", end="")
print(" "*(7-len(str(mode))) + " |")
print("+-----------+--------+")